mgl-map {
    height: 100%;
    width: 100vw;
}

.match-parent {
    width: 100%;
    height: calc(100vh - 100px);
}

.map-config {
    left: 10px;
    top: 10px;
    z-index: 5;
}

.splitter {
    border-bottom: 3px dashed grey;;
}