<div class="m-3">
    <div class="map relative" id="map" class="match-parent" [style]="'mapbox://styles/mapbox/streets-v9'">
        <button class="absolute map-config" type="text" pButton label="Map Configuration"
            (click)="op.toggle($event)"></button>
    </div>

    <p-overlayPanel #op (onHide)="onHidePanel()">
        <ng-template pTemplate>
            <div *ngIf="showMainContent; else subContentsTemplate">
                <div class="flex">
                    <div class="splitter p-2 flex justify-content-center align-items-center"
                        (click)="selectedContent('searchLocation')">
                        <span class="pi pi-search pr-2"></span>
                        <span>search Location </span>
                        <span class="pi pi-angle-right pl-2"></span>
                    </div>
                </div>
            </div>
            <ng-template #subContentsTemplate>
                <div [ngSwitch]="subContent">

                    <div *ngSwitchCase="'searchLocation'">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <strong>Enter search location</strong>
                                <p-autoComplete placeholder="Enter search location" [(ngModel)]="selectedLoc"
                                    [suggestions]="searchSuggestions" field="name" (completeMethod)="search($event)"
                                    [forceSelection]="true"></p-autoComplete>
                                <div class="p-2">
                                    <p-button label="Go To Locataion" icon="pi pi-search" iconPos="right"
                                        (onClick)="changeLocation(selectedLoc)" [disabled]="!selectedLoc"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchDefault>default</div>
                </div>
            </ng-template>
        </ng-template>
    </p-overlayPanel>

</div>