<div class="p-p-4">

    <p-card header="Chat Started" styleClass="chatBody">

        <div *ngFor="let chat of chats">
            <div *ngIf="chat.type == 'recieved'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="p-col-12">
                    <div class="p-fluid p-grid p-mr-5">
                        <div class="p-col-12 chat-border">
                            <span class="royal-ft-wt-700">PARTNER: </span>
                            {{chat.message}}
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="p-col-12">
                    <div class="p-fluid p-grid  p-ml-5">
                        <div class="p-col-12 chat-border  p-text-right">
                            <span class="royal-ft-wt-700">YOU: </span>
                            {{chat.message}}
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
        <ng-template pTemplate="footer">
            <div class="p-grid">
                <div class="p-col p-pr-0">
                    <div class="box">
                        <input class="w-100" #textRef #chatref="ngModel" type="text" pInputText [(ngModel)]="chat" />
                    </div>
                </div>
                <div class="p-col-fixed p-pl-0" style="width:80px">
                    <div class="box">
                        <p-button icon="pi pi-send" styleClass="icon-button" [disabled]="!chatref.value"
                            (onClick)="onSend()">
                        </p-button>
                    </div>
                </div>
            </div>
        </ng-template>


    </p-card>

</div>