<p-dialog [(visible)]="postModel.displayPopUp" [style]="{width: '75vw'}" [baseZIndex]="1001"
    (onHide)="onClickClose()">
    <p-header> {{ editData ? 'Edit Post' : 'Add Post' }} </p-header>
    <div class="centerOfScreen" [formGroup]="postModel.postform">
        <div class="col-12">
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="Text" pInputText placeholder="Title" formControlName="title"
                        (blur)="onBlurFields('istitleValidate')">
                </div>
                <span class="royal-color-red" *ngIf="postModel.istitleValidate && !titleFormDetails.value">
                    Please Enter Title</span>
                <span class="royal-color-red"
                    *ngIf="postModel.istitleValidate && titleFormDetails.value && titleFormDetails.invalid">
                    Enter atleast 3 characters</span>
            </div>
            <div class="col-12 p-text-left">
                <label cass="p-text-left align-items-start">Summary</label>
                <span class="p-float-label">
                    <textarea rows="3" class="w-100" pInputTextarea formControlName="content"
                        (blur)="onBlurFields('isContentValidate')"></textarea>
                </span>
            </div>
            <span class="royal-color-red" *ngIf="postModel.isContentValidate && !contentFormDetails.value">
                Please Enter Content</span>
            <div class="col-12">

                <div *ngIf="imgValueType; then editImgBlock else addImgBlock">
                </div>

            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onSubmit()" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<ng-template #editImgBlock>
    <div class="p-text-left">
        <span class="pi pi-paperclip text-danger pr-1"></span>
        {{postModel.postform.value.image}}
        <span class="pi pi-times text-danger pl-2" (click)="removeAttachment()"> </span>
    </div>
</ng-template>

<ng-template #addImgBlock>
    <div
        *ngIf="imagePreview !== '' && imagePreview && postModel.postform.get('image').valid; then imageAddedBlock else addImgBtnBlock">
    </div>
</ng-template>

<ng-template #imageAddedBlock>
    <div class="col-12">
        <button pButton pRipple type="button" label="Remove Image" icon="pi pi-times" iconPos="right"
            class="p-button-rounded p-button-danger" (click)="removeImg()"></button>
        <div class="image-preview p-mt-1">
            <img class="prv-img-sz" [src]="imagePreview" [alt]="postModel.postform.value.title">
        </div>
    </div>
</ng-template>

<ng-template #addImgBtnBlock>
    <div class="col-12">
        <button pButton pRipple label="Pick Image" type="button" icon="pi pi-upload" iconPos="right"
            (click)="filePicker.click()">
        </button>
        <input type="file" accept="image/png, image/jpeg" #filePicker (change)="onImagePicked($event)">
    </div>
    <span class="royal-color-red" *ngIf="imageFormDetails.errors?.invalidMimeType">
        Please Select Valid File(Supported File jpeg/png)
    </span>
</ng-template>