<div class="centerOfScreen" [formGroup]="resettingPass">
    <div class="col-12 xl:col-5 p-p-5 md:col-7 xs:col-12">
        <div class="p-fluid  p-jc-center chat-border p-p-6">
            <div class="col-12">
                <span class="royal-ft-wt-700">Reset Password</span>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Password" formControlName="password"
                        (blur)="onBlurFields('ispasswordValidate')">
                </div>
                <span class="royal-color-red" *ngIf="ispasswordValidate && !passwordFormDetails.value">
                    Please Enter Password</span>
                <span class="royal-color-red"
                    *ngIf="ispasswordValidate && passwordFormDetails.value && passwordFormDetails.invalid">
                    Passowrd must be atleast 8 Character</span>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Repeat password" formControlName="repassword"
                        (blur)="onBlurFields('isrepasswordValidate')">
                </div>
                <span class="royal-color-red" *ngIf="isrepasswordValidate && !repasswordFormDetails.value">
                    Please Retype Password</span>
                <span class="royal-color-red" *ngIf="ispasswordValidate && isrepasswordValidate && repasswordFormDetails.value &&
                    repasswordFormDetails.value !== passwordFormDetails.value">
                    Password must be same</span>
            </div>
            <div class="col-12">
                <p-button label="Confirm" (onClick)="onSubmit()"></p-button>
            </div>
        </div>
    </div>
</div>