<div class="centerOfScreen" [formGroup]="userInfo">
    <div class="p-col-12 p-xl-5 p-p-5 p-md-7 p-xs-12">
        <div class="p-fluid  p-jc-center chat-border p-p-6">
            <div class="p-col-12">
                <span class="royal-ft-wt-700">Log In</span>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="email" pInputText placeholder="Gmail" formControlName="gmail"
                        (blur)="onBlurFields('isgmailValidate')">
                    </div>
                    <span class="royal-color-red" *ngIf="isgmailValidate && !gmailFormDetails.value">
                        Please Enter Gmail</span>
                    <span class="royal-color-red"
                        *ngIf="isgmailValidate && gmailFormDetails.value && gmailFormDetails.invalid">
                        Please Enter Valid Email</span>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="text" pInputText placeholder="Password" formControlName="password"
                        (blur)="onBlurFields('ispasswordValidate')">
                </div>
                <span class="royal-color-red" *ngIf="ispasswordValidate && !passwordFormDetails.value">
                    Please Enter Password</span>
            </div>
            <div class="p-col-12">
                <p-button label="Log-in" (onClick)="onSubmit()"></p-button>
            </div>
            <div class="p-col-12">
                New member.Please <a [routerLink]="['../','sign-up']" queryParamsHandling="preserve"> Sign-up</a>
            </div>
        </div>
    </div>
</div>