<div class="centerOfScreen" [formGroup]="userInfo">
    <div class="col-12 xl:col-5 p-p-5 md:col-7 p-xs-12">
        <div class="p-fluid  p-jc-center chat-border p-p-6">
            <div class="col-12">
                <span class="royal-ft-wt-700">Log In</span>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="email" pInputText placeholder="Email" formControlName="gmail"
                        (blur)="onBlurFields('isgmailValidate')">
                </div>
                <span class="royal-color-red" *ngIf="isgmailValidate && !gmailFormDetails.value">
                    Please Enter Email</span>
                <span class="royal-color-red"
                    *ngIf="isgmailValidate && gmailFormDetails.value && gmailFormDetails.invalid">
                    Please Enter Valid Email</span>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Password" formControlName="password"
                        (blur)="onBlurFields('ispasswordValidate')">
                </div>
                <span class="royal-color-red" *ngIf="ispasswordValidate && !passwordFormDetails.value">
                    Please Enter Password</span>
            </div>
            <div class="col-12">
                <p-button label="Log-in" (onClick)="onSubmit()"></p-button>
            </div>
            <div class="col-12">
                New Member? <a [routerLink]="['../','sign-up']" queryParamsHandling="preserve">Create an account</a>
            </div>
            <div class="col-12" (click)="isPasswordForgot = true">
                <button pButton pRipple type="button" label="Forgot Your Password?" class="p-button-text"></button>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Reset Your Password" [(visible)]="isPasswordForgot" (onHide)="closeForgotPass()">
    <div class="p-fluid">
        <div class="col-12">
            Enter the email associated with your account and <br />
            we'll send you instructions to reset your password.
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="email" pInputText placeholder="Email Address" [formControl]="forgotGmail"
                    (blur)="onBlurFields('isforgetGmailValidate')" required >
            </div>
            <span class="royal-color-red" *ngIf="isforgetGmailValidate && !forgotGmail.value">
                Please Enter Email</span>
            <span class="royal-color-red" *ngIf="isforgetGmailValidate && !!forgotGmail.value && forgotGmail.invalid">
                Please Enter Valid Email</span>
        </div>

        <div class="col-12">
            <button pButton pRipple type="button" label="Submit" class="p-button-rounded" (click)="onResetPass()"></button>
        </div>

    </div>
</p-dialog>