<div class="p-m-3 layout-content">

    <div class="card">
        <p-dataView #dv [value]="newses" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-center">
                    <p-dropdown [(ngModel)]="selectedCountry" (onChange)="onChangeCountry($event)"
                        [options]="countryList" placeholder="Select Country" styleClass="mb-2 md:mb-0"
                        optionLabel="key"></p-dropdown>
                    <span class="p-input-icon-left mb-2 md:mb-0">
                        NEWS
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
                <div class="col-12">
                    <div class="product-list-item"  (click)="goToLink(product.url)">
                        <img [src]="product.urlToImage" [alt]="product.title" />
                        <div class="product-list-detail">
                            <div class="product-name">{{product.title}}</div>
                            <div class="product-description">{{product.description}}</div>
                            <div>{{product.publishedAt | date:'medium'}}</div>
                            <i class="pi pi-tag product-category-icon"></i><span
                                class="product-category">{{product.source.name}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="product-grid-item card" (click)="goToLink(product.url)">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{product.source.name}}</span>
                            </div>
                        </div>
                        <div class="product-grid-item-content">
                            <img [src]="product.urlToImage" [alt]="product.title" />
                            <div class="product-name">{{product.title}}</div>
                            <div class="product-description">{{product.description}}</div>
                            <div>{{product.publishedAt | date:'medium'}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<!-- <div *ngIf="sinlgeNewsUrl">
    <p-dialog header="Header" [(visible)]="displayNews" [modal]="true" [style]="{width: '80vw'}" [draggable]="false"
    [resizable]="false" (onHide)="onCloseNews()">
        <p class="p-m-0">
 safe" style="height:60vh;"></iframe>
        </p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayNews=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div> -->