$sizes: 0, 1, 2, 3;
$side: (
    t: top,
    b: bottom,
    l: left,
    r: right,
);

@each $size in $sizes {

    @each $key, $value in $side {

        .#{$prefix}-sp-#{$key}-#{$size} {
            #{$value}: #{$size}em;
        }

    }

}

.mar-top-65 {
    margin-top: 65px;
}